
form {
  width:300px;
  margin: 100px auto;
}

.lbl{
	font-family:bebas;
	font-size:1.5em;
}

#img{
	width: 10%;
}

.otherBtn{
	align-content: center;
	margin: 0% 40%;
	position: absolute;
}

input, button {
  border:1px solid #ccc;
  font-family:bebas;
  font-size:1.5em;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

button,input[type=submit] {
  background:none;
  padding:10px;
}

.imgCandidato{
	width: 100%;
	margin: 0 0 50px 0;
}

button{
	color: #fff;
	background-color: #3CB371;
}
